# PA005: High Value Customer Indentification ( Insiders )

In [72]:
import re
import sqlite3
import s3fs
import numpy as np
import pandas as pd
import seaborn as sns
import io
import pickle

import umap.umap_ as umap
import boto3
from sklearn import cluster as c
from sklearn import metrics as m
from sklearn import mixture as mx
from sklearn import manifold as mn 
from sklearn import ensemble as en
from sklearn import decomposition as dd
from sklearn import preprocessing as pp

from plotly import express as px

from matplotlib import pyplot as plt

from sqlalchemy import create_engine
from scipy.cluster import hierarchy as hc

### 0.2. Load Dataset

In [29]:
# load data
# path local = /Users/thiago/Thiago/Data_Science/comunidade_ds/insiders_clustering/
# path_s3 = 's3://insiders-dataset-tbl/'
# df_raw = pd.read_csv( path_s3 + 'ecommerce.csv' )

# # drop extra column

In [30]:
s3_client = boto3.client(
    "s3",
    aws_access_key_id='AKIAW44IREBLQIPGP37Y',
    aws_secret_access_key='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',
    )
#banco comunidadeds!

In [31]:
AWS_S3_BUCKET = "insiders-dataset-tbl"

In [32]:
# Creating the low level functional client
client = boto3.client(
    's3',
    aws_access_key_id = 'AKIAW44IREBLQIPGP37Y',
    aws_secret_access_key = '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',
    region_name = 'us-east-1'
)
    
# Creating the high level object oriented interface
resource = boto3.resource(
    's3',
    aws_access_key_id = 'AKIAW44IREBLQIPGP37Y',
    aws_secret_access_key = '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',
    region_name = 'us-east-1'
)

In [33]:
# Fetch the list of existing buckets
clientResponse = client.list_buckets()
    
# Print the bucket names one by one
print('Printing bucket names...')
for bucket in clientResponse['Buckets']:
    print(f'Bucket Name: {bucket["Name"]}')

Printing bucket names...
Bucket Name: insiders-dataset-tbl
Bucket Name: insiders-dataset-tbl-2

In [34]:
# Create the S3 object
obj = client.get_object(
    Bucket = 'insiders-dataset-tbl',
    Key = 'ecommerce.csv',
    
)
    
# Read data from the S3 object
#data = pd.read_csv(obj['Body'].decode('iso-8859-1'))

s3_data = io.BytesIO(obj.get('Body').read())

data = pd.read_csv(s3_data, encoding='iso-8859-1')


data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Unnamed: 8
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,29-Nov-16,2.55,17850.0,United Kingdom,NaN
1,536365,71053,WHITE METAL LANTERN,6,29-Nov-16,3.39,17850.0,United Kingdom,NaN
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,29-Nov-16,2.75,17850.0,United Kingdom,NaN
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,29-Nov-16,3.39,17850.0,United Kingdom,NaN
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,29-Nov-16,3.39,17850.0,United Kingdom,NaN

In [35]:
# df_raw = pd.read_csv(f"s3://{AWS_S3_BUCKET}/ecommerce.csv", encoding='iso-8859-1',
#         storage_options={
#         "key": 'AKIAW44IREBLQIPGP37Y',
#         "secret": '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',
#         }
# )
# df_raw.head()

## <font color='red'> 1.0. Descrição dos Dados </font>

In [36]:
df_raw = data.copy()

In [37]:
df_raw = df_raw.drop( columns=['Unnamed: 8'], axis=1 )
df1 = df_raw.copy()

### 1.1. Rename Columns

In [38]:
cols_new = [ 'invoice_no', 'stock_code', 'description', 'quantity', 'invoice_date',
       'unit_price', 'customer_id', 'country' ]
df1.columns = cols_new

### 1.2. Data Dimensions

In [39]:
print( 'Number of rows: {}'.format( df1.shape[0] ) )
print( 'Number of cols: {}'.format( df1.shape[1] ) )

Number of rows: 541909
Number of cols: 8

### 1.3. Data Types

In [40]:
df1.dtypes

invoice_no       object
stock_code       object
description      object
quantity          int64
invoice_date     object
unit_price      float64
customer_id     float64
country          object
dtype: object

### 1.4. Check NA

In [41]:
df1.isna().sum()

invoice_no           0
stock_code           0
description       1454
quantity             0
invoice_date         0
unit_price           0
customer_id     135080
country              0
dtype: int64

### 1.5. Replace NA

In [42]:
df_missing = df1.loc[df1['customer_id'].isna(), :]
df_not_missing = df1.loc[~df1['customer_id'].isna(), :]

In [43]:
# create reference
df_backup = pd.DataFrame( df_missing['invoice_no'].drop_duplicates() )
df_backup['customer_id'] = np.arange( 19000, 19000+len( df_backup ), 1)

# merge original with reference dataframe
df1 = pd.merge( df1, df_backup, on='invoice_no', how='left' )

# coalesce
df1['customer_id'] = df1['customer_id_x'].combine_first( df1['customer_id_y'] )

# drop extra columns
df1 = df1.drop( columns=['customer_id_x', 'customer_id_y'], axis=1 )

df1.head()

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,country,customer_id
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,29-Nov-16,2.55,United Kingdom,17850.0
1,536365,71053,WHITE METAL LANTERN,6,29-Nov-16,3.39,United Kingdom,17850.0
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,29-Nov-16,2.75,United Kingdom,17850.0
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,29-Nov-16,3.39,United Kingdom,17850.0
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,29-Nov-16,3.39,United Kingdom,17850.0

In [44]:
df1.isna().sum()

invoice_no         0
stock_code         0
description     1454
quantity           0
invoice_date       0
unit_price         0
country            0
customer_id        0
dtype: int64

### 1.6. Change Types

In [45]:
# invoice_date
df1['invoice_date'] = pd.to_datetime( df1['invoice_date'], format='%d-%b-%y' )

# customer_id
df1['customer_id'] = df1['customer_id'].astype(int)

In [46]:
df1.dtypes

invoice_no              object
stock_code              object
description             object
quantity                 int64
invoice_date    datetime64[ns]
unit_price             float64
country                 object
customer_id              int64
dtype: object

### 1.7. Descriptive Statistics

In [47]:
num_attributes = df1.select_dtypes( include=['int64', 'float64'] )
cat_attributes = df1.select_dtypes( exclude=['int64', 'float64', 'datetime64[ns]'] )

#### 1.7.1. Numerical Attributes

In [48]:
# central tendency - mean, median
ct1 = pd.DataFrame( num_attributes.apply( np.mean ) ).T
ct2 = pd.DataFrame( num_attributes.apply( np.median ) ).T

# dispersion - desvio padrão, mínimo, máximo, range, skew, kurtosis
d1 = pd.DataFrame( num_attributes.apply( np.std ) ).T
d2 = pd.DataFrame( num_attributes.apply( np.min ) ).T
d3 = pd.DataFrame( num_attributes.apply( np.max ) ).T
d4 = pd.DataFrame( num_attributes.apply( lambda x: x.max() - x.min() ) ).T
d5 = pd.DataFrame( num_attributes.apply( lambda x: x.skew() ) ).T
d6 = pd.DataFrame( num_attributes.apply( lambda x: x.kurtosis() ) ).T

# concatenate
m1 = pd.concat( [d2, d3, d4, ct1, ct2, d1, d5, d6] ).T.reset_index()
m1.columns = ['attributes', 'min', 'max', 'range', 'mean', 'mediana', 'std', 'skew', 'kurtosis']
m1

,attributes,min,max,range,mean,mediana,std,skew,kurtosis
0,quantity,-80995.00,80995.0,161990.00,9.552250,3.00,218.080957,-0.264076,119769.160031
1,unit_price,-11062.06,38970.0,50032.06,4.611114,2.08,96.759764,186.506972,59005.719097
2,customer_id,12346.00,22709.0,10363.00,16688.840453,16249.00,2911.408666,0.487449,-0.804287

#### 1.7.2. Categorical Attributes

In [49]:
cat_attributes.head()

  invoice_no stock_code                          description         country
0     536365     85123A   WHITE HANGING HEART T-LIGHT HOLDER  United Kingdom
1     536365      71053                  WHITE METAL LANTERN  United Kingdom
2     536365     84406B       CREAM CUPID HEARTS COAT HANGER  United Kingdom
3     536365     84029G  KNITTED UNION FLAG HOT WATER BOTTLE  United Kingdom
4     536365     84029E       RED WOOLLY HOTTIE WHITE HEART.  United Kingdom

<b>Invoice No</b>

In [50]:
# problema: Temos o invoice com letras e numeros
#df1['invoice_no'].astype( int )

# Identificação
df_letter_invoices = df1.loc[df1['invoice_no'].apply( lambda x: bool ( re.search( '[^0-9]+', x ) ) ), :]
df_letter_invoices.head()

print( 'Total number os invoices: {}'.format( len ( df_letter_invoices ) ) ) 
print( 'Total number os negative quantity: {}'.format( len( df_letter_invoices[df_letter_invoices['quantity'] < 0 ] ) ) )

Total number os invoices: 9291
Total number os negative quantity: 9288

In [51]:
#cat_attributes['invoice_no'].astype( int )
len( cat_attributes.loc[ cat_attributes['invoice_no'].apply( lambda x: bool( re.search( '[^0-9]+', x ) ) ), 'invoice_no'].drop_duplicates() )
#cat_attributes.loc[173995, : ]

3839

<b>Stock Code</b>

In [52]:
# stock code
#at_least_one_string = cat_attributes.loc[ cat_attributes['stock_code'].apply( lambda x: bool ( re.search( '[^0-9+]', x ) ) ), 'stock_code'].head()

#print( at_least_one_string )

#
#cat_attributes.loc[cat_attributes['stock_code'].apply( lambda x: bool( re.search( '^[a-zA-Z]+$', x ) ) ), 'stock_code'].unique() 
df1.loc[cat_attributes['stock_code'].apply( lambda x: bool( re.search( '^[a-zA-Z]+$', x ) ) ), :].head()

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,country,customer_id
45,536370,POST,POSTAGE,3,2016-11-29,18.00,France,12583
141,C536379,D,Discount,-1,2016-11-29,27.50,United Kingdom,14527
386,536403,POST,POSTAGE,1,2016-11-29,15.00,Netherlands,12791
1123,536527,POST,POSTAGE,1,2016-11-29,18.00,Germany,12662
1814,536544,DOT,DOTCOM POSTAGE,1,2016-11-29,569.77,United Kingdom,19001

In [53]:
# check stock codes only characters
df1.loc[df1['stock_code'].apply( lambda x: bool ( re.search( '^[a-zA-Z]+$', x ) ) ), 'stock_code'].unique()

# Ação:
## 1. Remove stock_code in ['POST', 'D', 'M', 'PADS', 'DOT', 'CRUK']

array(['POST', 'D', 'DOT', 'M', 'S', 'AMAZONFEE', 'm', 'DCGSSBOY',
       'DCGSSGIRL', 'PADS', 'B', 'CRUK'], dtype=object)

## <font color='red'> 2.0. Filtragem das Variáveis </font>

In [54]:
df2 = df1.copy()

In [55]:
# ===== Numerical Attributes ======
# unit price > 0.04
df2 = df2.loc[df2['unit_price'] > 0.04, :]

# ===== Categorical Attributes ======
# stock code != [ POST, D, M, DOT, CRUK ]
df2 = df2[~df2['stock_code'].isin( ['POST', 'D', 'DOT', 'M', 'S', 'AMAZONFEE', 'm', 'DCGSSBOY',
       'DCGSSGIRL', 'PADS', 'B', 'CRUK']) ] 

# description
df2 = df2.drop( columns='description', axis=1 )

# map
df2 = df2[~df2['country'].isin( ['European Community', 'Unspecified'] ) ]

# bad users
df2 = df2[~df2['customer_id'].isin( [16446] ) ] 

## quantity - Negative numbers means product returns
df2_returns = df2.loc[df2['quantity'] < 0, :]
df2_purchase = df2.loc[df2['quantity'] >= 0, :]

## <font color='red'> 3.0. Feature Engineering </font>

In [56]:
df3 = df2.copy()

### 3.1. Feature Creation

In [57]:
# data reference
df_ref = df3.drop( ['invoice_no', 'stock_code','quantity', 'invoice_date', 'unit_price', 'country' ], axis=1 ).drop_duplicates( ignore_index=True)

In [58]:
df_ref.shape

(5786, 1)

In [59]:
df_ref.isna().sum()

customer_id    0
dtype: int64

#### 3.1.1. Gross Revenue

In [60]:
# Gross Revenue ( Faturamento ) quantity * price
df2_purchase.loc[:, 'gross_revenue'] = df2_purchase.loc[:, 'quantity'] * df2_purchase.loc[:, 'unit_price']

# Monetary
df_monetary = df2_purchase.loc[:, ['customer_id', 'gross_revenue']].groupby( 'customer_id').sum().reset_index()
df_ref = pd.merge( df_ref, df_monetary, how='left', on='customer_id' )
df_ref.isna().sum()

/var/folders/w5/0w2xv4r95g1gfgbzpp2dm6gr0000gn/T/ipykernel_5843/225208262.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_purchase.loc[:, 'gross_revenue'] = df2_purchase.loc[:, 'quantity'] * df2_purchase.loc[:, 'unit_price']

customer_id       0
gross_revenue    91
dtype: int64

#### 3.1.2. Recency - Day from last Purchase

In [61]:
# Recency - It depends on product returns
df_recency = df2_purchase.loc[:, ['customer_id', 'invoice_date']].groupby( 'customer_id' ).max().reset_index()
df_recency['recency_days'] = ( df2_purchase['invoice_date'].max() - df_recency['invoice_date'] ).dt.days
df_recency = df_recency[['customer_id', 'recency_days']].copy()
df_ref = pd.merge( df_ref, df_recency, how='left', on='customer_id' )
df_ref.isna().sum()

customer_id       0
gross_revenue    91
recency_days     91
dtype: int64

#### 3.1.3. Quantity of Products Purchased

In [62]:
# Número de Produtos - It depends os product returns
df_frequency = (df2_purchase.loc[:, ['customer_id', 'stock_code']].groupby( 'customer_id' )
                                                                .count()
                                                                .reset_index()
                                                                .rename( columns={'stock_code':'qtde_products'} ))
df_ref = pd.merge( df_ref, df_frequency, how='left', on='customer_id' )
df_ref.isna().sum()

customer_id       0
gross_revenue    91
recency_days     91
qtde_products    91
dtype: int64

#### 3.1.4. Frequency Purchase

In [63]:
df_aux = ( df2_purchase[['customer_id', 'invoice_no', 'invoice_date']].drop_duplicates()
                                                    .groupby( 'customer_id' )
                                                    .agg( max_ = ( 'invoice_date', 'max' ),
                                                          min_ = ( 'invoice_date', 'min' ),
                                                         days_ = ( 'invoice_date', lambda x: ( ( x.max() - x.min() ).days ) + 1 ),
                                                          buy_ = ( 'invoice_no', 'count' ) ) ).reset_index()

# Frequency
df_aux['frequency'] = df_aux[[ 'buy_', 'days_']].apply( lambda x: x['buy_'] / x['days_'] if x['days_'] != 0 else 0, axis=1)

# Merge
df_ref = pd.merge( df_ref, df_aux[['customer_id', 'frequency']], on='customer_id', how='left' )

In [64]:
df_ref.isna().sum()

customer_id       0
gross_revenue    91
recency_days     91
qtde_products    91
frequency        91
dtype: int64

#### 3.1.5. Number os Returns

In [65]:
# Number of Returns
df_returns = df2_returns[['customer_id', 'quantity']].groupby( 'customer_id' ).sum().reset_index().rename( columns={'quantity':'qtde_returns'} )
df_returns['qtde_returns'] = df_returns['qtde_returns'] * -1

df_ref = pd.merge( df_ref, df_returns, how='left', on='customer_id' )
df_ref.loc[df_ref['qtde_returns'].isna(), 'qtde_returns'] = 0

df_ref.isna().sum()

customer_id       0
gross_revenue    91
recency_days     91
qtde_products    91
frequency        91
qtde_returns      0
dtype: int64

## <font color='red'> 4.0. EDA ( Exploratory Data Analysis )</font>

In [66]:
df4 = df_ref.dropna()
df4.isna().sum()

customer_id      0
gross_revenue    0
recency_days     0
qtde_products    0
frequency        0
qtde_returns     0
dtype: int64

### 4.1. Estudo do Espaço

In [67]:
# selected dataset
cols_selected = ['customer_id', 'gross_revenue', 'recency_days', 'qtde_products', 'frequency', 'qtde_returns']
df43 = df4[ cols_selected ].drop( columns='customer_id', axis=1).copy()

In [68]:
df43.head()

   gross_revenue  recency_days  qtde_products  frequency  qtde_returns
0        5391.21         372.0          297.0  17.000000          40.0
1        3232.59          56.0          171.0   0.028302          35.0
2        6705.38           2.0          232.0   0.040323          50.0
3         948.25          95.0           28.0   0.017921           0.0
4         876.00         333.0            3.0   0.073171          22.0

In [75]:
# recover scales from pickle

gross_revenue_scaler = pickle.load( open( '../features/gross_revenue_scaler.pkl', 'rb' ) )
df43['gross_revenue'] = gross_revenue_scaler.transform( df43[['gross_revenue']] )

recency_days_scaler = pickle.load( open( '../features/recency_days_scaler.pkl', 'rb' ) )
df43['recency_days'] = recency_days_scaler.transform( df43[['recency_days']] )

qtde_products_scaler = pickle.load( open( '../features/qtde_products_scaler.pkl', 'rb' ) )
df43['qtde_products'] = qtde_products_scaler.transform( df43[['qtde_products']] )

frequency_scaler = pickle.load( open( '../features/frequency_scaler.pkl', 'rb' ) )
df43['frequency'] = frequency_scaler.transform( df43[['frequency']] )

qtde_returns_scaler = pickle.load( open( '../features/qtde_returns_scaler.pkl', 'rb' ) )
df43['qtde_returns'] = qtde_returns_scaler.transform( df43[['qtde_returns']] )

#mm = pp.MinMaxScaler()
# df43['recency_days'] = mm.fit_transform( df43[['recency_days']] )
# df43['qtde_products'] = mm.fit_transform( df43[['qtde_products']] )
# df43['frequency'] = mm.fit_transform( df43[['frequency']] )
# df43['qtde_returns'] = mm.fit_transform( df43[['qtde_returns']] )

### 4.3.3. Tree-Based Embedding

In [ ]:
# training dataset
X = df43.drop( columns=['gross_revenue'], axis=1 )
y = df43['gross_revenue']

# model definition
rf_model = en.RandomForestRegressor( n_estimators=100, random_state=42 )

# model training
rf_model.fit( X, y )

# Leaf
df_leaf = pd.DataFrame( rf_model.apply( X ) )

# dataframe Leaf

In [ ]:
# Reduzer dimensionality
reducer = umap.UMAP( random_state=42 )
embedding = reducer.fit_transform( df_leaf )

# embedding
df_tree = pd.DataFrame()
df_tree['embedding_x'] = embedding[:, 0]
df_tree['embedding_y'] = embedding[:, 1]

sns.scatterplot( x='embedding_x',
                 y='embedding_y',
                 data=df_tree)

## <font color='red'> 5.0. Data Preparation </font>

In [ ]:
X = df_tree.copy()

In [ ]:
X.head()

## <font color='red'> 6.0. Model Training </font>

### 6.1. Final Model

In [ ]:
# model definition GMM
k = 23
gmm_model = mx.GaussianMixture( n_components=k, n_init=300, random_state = 42 )

# model training
gmm_model.fit( X )

# model predict
labels = gmm_model.predict( X )

### 6.2. Cluster Validation

In [ ]:
## SS ( Silhouette Score )
print ( 'SS value: {}'.format( m.silhouette_score( X, labels, metric='euclidean' ) ) )

## <font color='red'> 7.0. Cluster Analysis </font>

### 7.1. Cluster Profile

In [ ]:
df92 = df4[ cols_selected ].copy()
df92['cluster'] = labels

# change dtypes
df92['recency_days'] = df92['recency_days'].astype( int )
df92['qtde_products'] = df92['qtde_products'].astype( int )
df92['qtde_returns'] = df92['qtde_returns'].astype( int )

In [ ]:
# Number of Customer
df_cluster = df92[['customer_id', 'cluster']].groupby('cluster').count().reset_index()
df_cluster['perc_cluster'] = 100 * ( df_cluster['customer_id'] / df_cluster['customer_id'].sum() )

# Average Gross Revenue
df_avg_gross_revenue = df92[['gross_revenue', 'cluster']].groupby('cluster').mean().reset_index()
df_cluster = pd.merge( df_cluster, df_avg_gross_revenue, how='inner', on='cluster')

# Average Recency Days
df_avg_recency_days = df92[['recency_days', 'cluster']].groupby('cluster').mean().reset_index()
df_cluster = pd.merge( df_cluster, df_avg_recency_days, how='inner', on='cluster')

# Average Invoice_no
df_qtde_products = df92[['qtde_products', 'cluster']].groupby('cluster').mean().reset_index()
df_cluster = pd.merge( df_cluster, df_qtde_products, how='inner', on='cluster')

# Frequency
df_frequency = df92[['frequency', 'cluster']].groupby('cluster').mean().reset_index()
df_cluster = pd.merge( df_cluster, df_frequency, how='inner', on='cluster')

# Returns
df_qtde_returns = df92[['qtde_returns', 'cluster']].groupby('cluster').mean().reset_index()
df_cluster = pd.merge( df_cluster, df_qtde_returns, how='inner', on='cluster')

df_cluster.sort_values(by='gross_revenue', ascending=False)

0   Cluster Insiders

14/2 Clusters Quase Insiders

2  Cluster Precisa de Mais Valor "Expend Money"

16   Cluster Mais valor / Frequencia

### Cluster Insiders: ( Cluster 0 )
    - Número de customers: 373 ( 12,5% dos customers )
    - Faturamento médio: 10500
    - Recência em média: 19 dias
    - Média de produtos comprados: 475 produtos
    - Frequência de produtos comprados: 0,11 produtos/dia

### Cluster 02:
    - Número de customers: 31 ( 71% dos customers )
    - Recência em média: 14 dias
    - Compras em média: 53 compras
    - Receita em média: $40.543,52

### Cluster 03:
    - Número de customers: 4335 ( 99% dos customers )
    - Recência em média: 92 dias
    - Compras em média: 5 compras
    - Receita em média: $1.372,57

## <font color='red'> 8.0 Deploy To Production </font>

In [ ]:
df92.head()

In [ ]:
df92.dtypes

### 8.1 Inserto into SQLITE

In [ ]:
import sqlite3
from sqlalchemy import create_engine

In [ ]:
df92['recency_days'] = df92['recency_days'].astype( int )
df92['qtde_products'] = df92['qtde_products'].astype( int )
df92['qtde_returns'] = df92['qtde_returns'].astype( int )

#df92['last_training_timestamp'] = datetime.now().strftime( '%Y-%m-%d %H:%M%S' )

In [ ]:
# database conection

#endpoint = 'sqlite:///insiders_db.sqlite'
host='database-insiders-test.cupfsfkbeh2a.us-east-1.rds.amazonaws.com'
port='5432'
database='postgres' 
user='thiago'
pwd='comunidadeds!'

endpoint='postgresql://thiago:comunidadeds!@database-insiders-test.cupfsfkbeh2a.us-east-1.rds.amazonaws.com/postgres'

conn = create_engine( endpoint )

# # drop table
# query_drop_insiders = """
#     DROP TABLE insiders
# """

# create table
# query_create_insiders = """
#     CREATE TABLE insiders (
#         customer_id     INTEGER,
#         gross_revenue   REAL,
#         recency_days    INTEGER,
#         qtde_products   INTEGER,
#         frequency       REAL,
#         qtde_returns    INTEGER,
#         cluster         INTEGER
#     )
# """    

# #conn = sqlite3.connect( 'insiders_db.sqlite')

# conn.execute( query_create_insiders )

In [ ]:
 # insert data
df92.to_sql( 'insiders', con=conn, if_exists='append', index=False )

In [ ]:
# # consulting database / get query
# query_collect = """
#     SELECT * FROM insiders
# """

# df = pd.read_sql_query( query_collect, conn )
# df.head()